*{
    margin: 0;
    padding: 0;
}

html {
    background-color: darkblue;
}

body {
    display:grid;
    grid-area: span span span;
}

header {
    background-color: darkgoldenrod;
}

main {
    background-color: burlywood;
}

section {
    background-color: brown;
}

footer {
    background-color: black;
}
