*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/******************************GRID*************************************/
html {
    background-color: white;
}

/***************BODY*****************/

body {
    font-family: 'Poppins', sans-serif;
    display:grid;
    grid-area: auto;
    grid-template-columns: repeat(4);
}

a {
    text-decoration: none;
}

h1 {
    grid-area: auto;
    font-size: 50px;
    text-align: center;
}
/****************HEADER****************/
header {
    background-color: black;
    color: white;
    margin: 5px;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 4;
}

/****************MAIN****************/

main {
    margin: 5px;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

p {
    margin: 5px;
    font-size: 18px;
}

/****************SECTION****************/


section {
    display: flex;
    background-color: brown;
    margin: 5px;
}

.galeria {
    display: inline-block;
}

/****************FOOTER****************/

footer {
    background-color: darkslategray;
    margin: 5px;
    height: 50px;
    font-size: 50px;
    text-align: center
}

/*******************************FLEX********************************/

.nav-flexbar{
    display: flex;
}

.nav1 {
    width: 100%;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

/******************contacto**********************/

form label {
    color: black;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

/*******************PAGINA GALERIA**************************/
  
   .galeria {
    padding-bottom:3m;
    padding-top:1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px;
    grid-template-areas:
    "img1 img1 img2 img3" 
    "img1 img1 img4 img4 "
    "img5 img5 img6 img7"
    "img5 img5 img8 img8"
     1.8em;
   }
   
   .galery_picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
   }
   
   .galery_picture::before {
    content: Galeria de Imagenes;
    position: absolute;
    top: o;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    transform: translate (100%);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
   }
   
   .galery_picture::before {
    transform: translate(0);
   }
   
   
   .galery_picture--g1 {
    grid-area: img1;
   }
   
   .galery_picture--g2 {
    grid-area: img2;
   }
   .galery_picture--g3 {
    grid-area: img3;
   }
   
   .galery_picture--g4 {
    grid-area: img4;
   }
   
   .galery_picture--g5 {
    grid-area: img5;
   }
   
   .galery_picture--g6 {
    grid-area: img6;
   }
   
   .galery_picture--g7 {
    grid-area: img7;
   }
   
   .galery_picture--g8 {
    grid-area: img8;
   }
    
   .galery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   
   /**************************MEDIA QUERY*********************/
  
   @media (max-width:768px) {
    .titulo{
     font-size: 2rem;
     padding: .8em 0 .4em;
   }
}
   
   .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "img1 img1"
    "img1 img1"
    "img2 img3"
    "img4 img4"
    "img4 img4"
    "img5 img5"
    "img5 img5"
    "img6 img7"
    "img8 img8"
    "img8 img8"
   }